tileset.png
format: RGBA8888
filter: Linear,Linear
repeat: none
floor1
  rotate: false
  xy: 64, 128
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
floor2
  rotate: false
  xy: 64, 96
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
floor3
  rotate: false
  xy: 64, 64
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
floor4
  rotate: false
  xy: 128, 32
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
floor5
  rotate: false
  xy: 96, 32
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
floor6
  rotate: false
  xy: 64, 32
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
floor7
  rotate: false
  xy: 32, 128
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
floor8
  rotate: false
  xy: 32, 96
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
greenbot
  rotate: false
  xy: 32, 64
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
greenline
  rotate: false
  xy: 32, 32
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
greentop
  rotate: false
  xy: 128, 0
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
lend
  rotate: false
  xy: 96, 0
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
platfside
  rotate: false
  xy: 64, 0
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
platfsideendl
  rotate: false
  xy: 32, 0
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
platfsideendr
  rotate: false
  xy: 0, 128
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
platfup
  rotate: false
  xy: 0, 96
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
platfupendbot
  rotate: false
  xy: 0, 64
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
platfupendtop
  rotate: false
  xy: 0, 32
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
rend
  rotate: false
  xy: 0, 0
  size: 32, 32
  orig: 32, 32
  offset: 0, 0
  index: -1
